.btn, button {
  background-color: $primary;
  color: white;
  padding: $input-padding;
  border-radius: $input-radius;
  border: none;
  transition: 0.5s;
  width: max-content;
  
  .btn-carrot {
    font-size: 24px;
    margin-left: 20px;
    line-height: 0;
  }

  &:hover {
    background-color: lighten($primary, 10%);
  }
}
