.btn, button {
  background-color: $primary;
  color: white;
  padding: 16px 24px;
  border-radius: 32px;
  border: none;
  transition: 0.5s;
  width: max-content;
  
  .btn-carrot {
    font-size: 24px;
    margin-left: 20px;
    line-height: 0;
  }

  &:hover {
    background-color: lighten($primary, 10%);
  }
}

input {
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px solid $border-color;
  margin-right: 8px;
}
