.header {
  color: white;

  h1 {
    color: white;
  }
}

.rotated-block {
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 150%;
  background: #FFFFFF;
  transform: rotate(-20deg);
  left: -40%;
  top: -7%;
}
