
.circle-icon {
  background-color: $primary;
  color: lighten($primary, 50%);
  border-radius: 50%;
  margin: 0px 20px 10px;
  padding: 16px;
}

// icons for social links
.social-icon {
  background-color: $secondary;
  color: #fff;
  border-radius: 16px;
  margin: 0px 20px 10px;
  padding: 16px;
  transition: 0.5s;

  &:hover {
    background-color: $primary;
  }
}

// icons for the environment section
.environment-icon {
  font-size: 3rem;
  padding: 16px 16px 16px 0px;
}