nav {
  // background-color: $primary-color;
  // color: $white;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 10px -4px rgb(0 0 0 / 17%);
  z-index: 6;

  // text in nav
  .navbar-brand,
  a.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: lighten($primary, 20%);
    font-family: 'Work Sans', Sans-Serif;
  }
}

// make vh 100 including navbar
.vh-100-w-nav {
  height: calc(100vh - ($nav-link-height + $nav-link-padding-y * 2));
}

.navbar-light .navbar-toggler {
  border-color: transparent;

  &:focus,
  &:hover {
    border-color: transparent;
    background-color: transparent;
    border: none;
    color: transparent;
  }
}

#collapseNavbar {
  text-align: center;
}
