h1,
h2,
h3,
h4,
h5,
h6,
.preTitle,
.subTitle {
  font-family: 'Noto Sans JP', Serif;
}

body,
p,
pre {
  font-family: 'BIZ UDPGothic', Sans-Serif;
}

h1 {
  margin-bottom: 32px;
  font-weight: 600;
  text-transform: capitalize;
  white-space: pre-wrap;
}

h2 {
  font-weight: 700;
  margin-bottom: 1.2em;
  font-size: 2em;
}

h3 {
  font-weight: 600;
  font-size: 2em;
  text-transform: capitalize;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow: hidden;
}

strong {
  color: lighten($primary, 30%);
  font-weight: inherit;
}

// optional custom heading that appears above typical heading tags
.preTitle {
  font-size: 0.8em;
  color: $font-primary;
  margin: 0px 0 0.5em 0;
  font-weight: 600;
}

// optional custom heading that appears below typical heading tags
.subTitle {
  font-size: 1.1em;
  color: lighten($headings-color, 35%);
  margin: 16px 0 12px 0;
  font-weight: 300;
}

//  styles for content generated from portableText
.portableText {
  h2 {
    margin-top: 48px;
  }
}

a {
  color: darken(saturate($secondary, 50%), 20%);
  text-decoration: none;
  font-weight: 300;
}
